@use 'base/mixins' as m;
@use 'base/variables' as v;

.sidebar {
    background-color: v.$indigo;
    h2 {
        color: v.$blanco;
        margin: 0;
        text-align: center;
        padding: 2rem;
    }
    .sidebar-nav {
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block;
            margin-bottom: 1rem;
            padding: 0.7rem;
            transition-property: background-color;
            transition-duration: 300ms;
            text-transform: uppercase;

            &:hover,
            &.activo {
                background-color: darken(v.$indigo, 20%);
                border-radius: 0.5rem;
            }
        }
    }
}